@font-face {
  font-family: Lato;
  src: url(../fonts/lato-thin.woff) format("wooff"), url(../fonts/lato-thin.woff2) format("wooff2"), url(../fonts/lato-thin.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/lato-regular.woff2) format("wooff2"), url(../fonts/lato-regular.woff) format("wooff"), url(../fonts/lato-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/lato-bold.woff) format("wooff"), url(../fonts/lato-bold.woff2) format("wooff2"), url(../fonts/lato-bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/lato-black.woff) format("wooff"), url(../fonts/lato-black.woff2) format("wooff2"), url(../fonts/lato-black.ttf);
  font-weight: 900;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.my-container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .header__controls {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 375px) {
  .header__controls {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.header__button-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button-menu:hover {
  opacity: 0.5;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__person-link {
  margin: 0 42px 0 25px;
}

@media (max-width: 375px) {
  .header__person-link {
    display: none;
  }
}

.header__basket {
  position: relative;
}

@media (max-width: 375px) {
  .header__basket {
    display: none;
  }
}

.header__basket::after {
  content: '5';
  position: absolute;
  color: white;
  text-align: center;
  width: 19px;
  height: 19px;
  top: -20px;
  right: -8px;
  background-image: url(./../img/basket-circle.png);
}

.navigation {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0 34px 0 34px;
  width: 232px;
  height: 764px;
  right: 0;
  top: 75px;
  z-index: 1;
}

.navigation__button-close {
  float: right;
  margin-top: 16px;
}

.navigation__button-close:hover {
  cursor: pointer;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.navigation__tittle {
  margin: 37px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__item-tittle {
  margin-top: 20px;
  text-transform: uppercase;
  color: #f16d7f;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.navigation__item a {
  color: #474040;
  text-decoration: none;
  margin-top: 11px;
}

.brand {
  display: flex;
  margin: 0 0 63px 0;
  background-color: #F1E4E6;
}

@media (max-width: 768px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 375px) {
  .brand {
    min-height: 363px;
  }
}

.brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .brand__image {
    display: none;
  }
}

.brand__tittle-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 90px;
}

.brand__tittle {
  position: relative;
  color: #222222;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .brand__tittle {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media (max-width: 375px) {
  .brand__tittle {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.brand__tittle::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 2.0em;
  background-color: #f16d7f;
  top: 0;
  left: -26px;
}

.brand__subtittle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .brand__subtittle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.brand__subtittle-color {
  color: #f16d7f;
}

.copyright {
  background-color: #222222;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

@media (max-width: 375px) {
  .copyright__wrapper {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: space-around;
    min-height: 143px;
  }
}

.copyright__text {
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.copyright__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__social-item {
  margin: 0 3px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.copyright__social-item:hover {
  background-color: #f16d7f;
}

.header {
  background-color: #222222;
}

.header__wrapper {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1140px) {
  .header__controls {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 375px) {
  .header__controls {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.header__button-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button-menu:hover {
  opacity: 0.5;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__person-link {
  margin: 0 42px 0 25px;
}

@media (max-width: 375px) {
  .header__person-link {
    display: none;
  }
}

.header__basket {
  position: relative;
}

@media (max-width: 375px) {
  .header__basket {
    display: none;
  }
}

.header__basket::after {
  content: '5';
  position: absolute;
  color: white;
  text-align: center;
  width: 19px;
  height: 19px;
  top: -20px;
  right: -8px;
  background-image: url(./../img/basket-circle.png);
}

.offers {
  margin-bottom: 96px;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .offers__list {
    flex-direction: column;
  }
}

.offers__item {
  color: white;
  width: 32%;
  min-height: 260px;
  background-color: #474040;
  background-size: cover;
  background-position: center;
  margin: 0 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .offers__item {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .offers__item {
    width: auto;
    min-height: 247px;
    margin-top: 32px;
  }
}

.offers__item-subtittle {
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers__item_women {
  background-image: url(./../img/women.jpg);
}

.offers__item_men {
  background-image: url(./../img/men.jpg);
}

.offers__item_kids {
  background-image: url(./../img/kids.jpg);
}

.offers__item_accesories {
  background-image: url(./../img/accesories.jpg);
  width: 100%;
  min-height: 180px;
}

@media (max-width: 768px) {
  .offers__item_accesories {
    min-height: 116px;
  }
}

.product {
  margin-bottom: 95px;
}

.product__tittle-wrapper {
  text-align: center;
  margin: 0 0 48px;
}

.product__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product__item {
  width: 360px;
  margin: 0 auto;
}

.product__item-image-wrapper {
  position: relative;
  background-color: black;
  line-height: 0;
}

.product__tittle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.product__subtittle {
  color: #9F9F9F;
}

.product__item-tittle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 13px 0;
}

.product__item-description {
  padding: 26px 28px 20px 16px;
  margin: 0 0 30px 0;
  background-color: #F8F8F8;
}

.product__item-price {
  margin: 18px 0 0 0;
  color: #f16d7f;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.product__item-button {
  position: absolute;
  justify-content: space-around;
  align-items: center;
  display: none;
  background: none;
  border: white 1px solid;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 138px;
  height: 44px;
  color: white;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  cursor: pointer;
}

.product__button-browse {
  width: 210px;
  height: 47px;
  margin: 18px auto 0;
  border: #f16d7f 1px solid;
  color: #f16d7f;
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  display: block;
}

.product__button-browse:hover {
  background-color: #e05c6e;
  color: white;
}

.reg__content {
  display: flex;
}

@media (max-width: 375px) {
  .reg__content {
    flex-direction: column;
  }
}

.reg__tittle {
  height: 148px;
  background-color: #F8F3F4;
  margin: 0 0 64px 0;
}

.reg__tittle-text {
  font-size: 24px;
  line-height: 148px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

@media (max-width: 375px) {
  .reg__tittle-text {
    text-align: center;
  }
}

.reg__form {
  margin: 0 128px 0 0;
}

@media (max-width: 768px) {
  .reg__form {
    margin-right: 22px;
  }
}

.reg__form-tittle {
  color: #222222;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.reg__form-input {
  display: block;
  box-sizing: border-box;
  width: 360px;
  height: 46px;
  margin-top: 20px;
  padding-left: 17px;
  font-family: Lato;
}

.reg__form-input::-webkit-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.reg__form-input:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.reg__form-input::-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.reg__form-input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.reg__form-gender {
  display: inline-block;
  margin: 32px 17px 32px 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
}

.reg__form-tips {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  margin: 15px 0 0 0;
  color: #B1B1B1;
}

.reg__form-button {
  margin: 40px 0 96px 0;
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Lato;
  color: white;
  cursor: pointer;
}

@media (max-width: 375px) {
  .reg__form-button {
    margin-bottom: 40px;
  }
}

.reg__form-button:hover {
  background-color: #e05c6e;
}

.reg__offers {
  margin-bottom: 100px;
}

.reg__offers-tittle {
  color: black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .reg__offers-tittle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.reg__offers-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: black;
  margin: 22px 0 22px 0;
}

@media (max-width: 768px) {
  .reg__offers-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.reg__offers-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: black;
  margin: 0 0 16px 43px;
  position: relative;
}

@media (max-width: 768px) {
  .reg__offers-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }
}

.reg__offers-item::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -43px;
  width: 20px;
  height: 16px;
  background-image: url(./../img/check-mark.png);
}

.subscribe {
  display: flex;
  justify-content: space-around;
  background-image: url(./../img/photo-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 150px 0;
}

@media (max-width: 768px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
    padding: 65px 0 140px 0;
    background-position-x: -380px;
  }
}

.subscribe__slogan {
  text-align: center;
  max-width: 360px;
}

.subscribe__form {
  text-align: center;
  max-width: 360px;
  margin: 78px 0 0 0;
}

.subscribe__slogan-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px;
}

.subscribe__slogan-subtext {
  font-style: italic;
}

.subscribe__form-tittle {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 375px) {
  .subscribe__form-tittle {
    font-weight: 400;
  }
}

.subscribe__form-subtittle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}

@media (max-width: 375px) {
  .subscribe__form-subtittle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.subscribe__form-input {
  border: none;
  background-color: #E1E1E1;
  color: #222222;
  height: 50px;
  min-width: 234px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0 0 22px;
  font-family: Lato;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
}

.subscribe__form-button {
  min-width: 100px;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -4px;
  padding: 0;
  border: none;
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  font-family: Lato;
}

.subscribe__form-button:hover {
  background-color: #e05c6e;
}

.advantages {
  background-color: #222222;
  padding: 55px 0 104px 0;
}

@media (max-width: 768px) {
  .advantages {
    padding: 0 0 64px 0;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  display: block;
  text-align: center;
  width: 360px;
  margin: 48px 0 0 0;
}

.advantages__tittle {
  color: #F8F8F8;
  margin: 28px 0 16px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.advantages__text {
  color: #F8F8F8;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.cart__tittle {
  height: 148px;
  background-color: #F8F3F4;
  margin: 0 0 96px 0;
}

@media (max-width: 375px) {
  .cart__tittle {
    margin-bottom: 39px;
  }
}

.cart__tittle-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

@media (max-width: 375px) {
  .cart__tittle-text {
    text-align: center;
  }
}

.cart__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .cart__content {
    flex-direction: column;
    align-items: center;
  }
}

.cart__list-wrapper {
  display: flex;
  flex-direction: column;
}

.cart__item {
  width: 652px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin: 0 24px 40px 0;
}

@media (max-width: 375px) {
  .cart__item {
    width: 358px;
  }
}

@media (max-width: 375px) {
  .cart__item-image {
    height: 188px;
  }
}

.cart__item-description {
  width: 100%;
  padding: 22px 24px 0 31px;
}

@media (max-width: 375px) {
  .cart__item-description {
    padding: 13px 17px 0 17px;
  }
}

.cart__item-button-close {
  float: right;
}

.cart__item-button-close:hover {
  cursor: pointer;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.cart__item-tittle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 375px) {
  .cart__item-tittle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.cart__item-price {
  margin-top: 32px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
}

@media (max-width: 375px) {
  .cart__item-price {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__item-price_color_pink {
  color: #f16d7f;
}

.cart__item-param {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #575757;
}

@media (max-width: 375px) {
  .cart__item-param {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__item-quantity {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #575757;
  width: 43px;
  margin-left: 24px;
  text-align: center;
  border: 1px solid #EAEAEA;
}

@media (max-width: 375px) {
  .cart__item-quantity {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__control-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 128px 0;
}

@media (max-width: 768px) {
  .cart__control-wrapper {
    margin-bottom: 64px;
  }
}

@media (max-width: 375px) {
  .cart__control-wrapper {
    margin: 0px 0 48px 0;
  }
}

.cart__button {
  border: 1px solid #B1B1B1;
  color: black;
  background-color: white;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
}

@media (max-width: 375px) {
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: none;
  }
}

.cart__button-clear {
  width: 234px;
  line-height: 49px;
}

@media (max-width: 375px) {
  .cart__button-clear {
    width: 175px;
    line-height: 32px;
  }
}

.cart__button-continue {
  width: 234px;
  line-height: 49px;
  margin-right: 24px;
}

@media (max-width: 375px) {
  .cart__button-continue {
    width: 175px;
    line-height: 32px;
  }
}

@media (max-width: 768px) {
  .cart__form-wrapper {
    display: flex;
  }
}

@media (max-width: 375px) {
  .cart__form-wrapper {
    flex-direction: column;
  }
}

.cart__form {
  margin: 0 10px 57px 0;
}

@media (max-width: 768px) {
  .cart__form {
    margin-bottom: 128px;
  }
}

@media (max-width: 375px) {
  .cart__form {
    margin-bottom: 10px;
  }
}

.cart__form-tittle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}

.cart__form-input {
  display: block;
  box-sizing: border-box;
  width: 360px;
  height: 45px;
  margin-top: 20px;
  padding-left: 17px;
  border: 1px solid #B1B1B1;
}

.cart__form-input::-webkit-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.cart__form-input:-ms-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.cart__form-input::-ms-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.cart__form-input::placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: Lato;
}

.cart__form-button {
  width: 100px;
  height: 34px;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 24px;
  color: #4A4A4A;
}

.cart__proceed-wrapper {
  display: flex;
  width: 360px;
  height: 214px;
  flex-direction: column;
  background-color: #F8F3F4;
  margin-top: 38px;
  margin-bottom: 96px;
  padding: 39px 42px 42px 42px;
  text-align: right;
}

.cart__proceed-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.cart__proceed-cashSub {
  color: #222222;
  margin-left: 20px;
}

.cart__proceed-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 12px 0 21px 0;
  color: #222222;
}

.cart__proceed-cashTotal {
  color: #f16d7f;
  margin-left: 20px;
}

.cart__proceed-hline {
  width: 100%;
  color: #EAEAEA;
  opacity: 0.2;
}

.cart__proceed-button {
  margin: 17px 0 0 0;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Lato;
  color: white;
  cursor: pointer;
}

.cart__proceed-button:hover {
  background-color: #e05c6e;
}

.brows__tittle {
  height: 148px;
  background-color: #F8F3F4;
}

.brows__tittle-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .brows__tittle-wrapper {
    flex-direction: column;
    justify-content: space-around;
  }
}

.brows__cookies-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #474040;
}

.brows__cookies-subtext {
  color: #f16d7f;
  font-weight: 700;
}

.brows__slider {
  border: 1px solid #E5E5E5;
  padding: 11px 0 42px 0;
  background-color: #F7F7F7;
}

.brows__slider-arrow {
  color: black;
  font-size: 47px;
}

.brows__slider-image-wrapper {
  max-width: 597px;
}

.brows__slider-image {
  width: 100%;
}

.brows__product-panel {
  margin: -65px auto 130px auto;
  border: 1px solid #E5E5E5;
  background-color: white;
  z-index: 1;
  position: relative;
}

.brows__product-info-tittle {
  color: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 64px;
}

.brows__product-info-tittle::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #f16d7f;
  display: block;
  margin: 12px auto 0 auto;
}

.brows__product-info-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 27px;
}

.brows__product-info-description {
  max-width: 555px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  margin-top: 48px;
  text-align: center;
  color: #5E5E5E;
}

.brows__product-info-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 32px;
  color: #f16d7f;
}

.brows__product-info-hline {
  width: 57%;
  background-color: #afafaf;
  margin-top: 65px;
}

.brows__product-control {
  margin-top: 65px;
}

.brows__product-control-menu {
  position: relative;
}

.brows__product-control-menu-button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #575757;
}

.brows__product-control-menu-button::after {
  content: "";
  background-image: url(../../img/drop-dwn.png);
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  width: 10px;
  height: 5px;
}

.brows__product-control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: #f16d7f 1px solid;
  width: 211px;
  margin: 49px 0 65px 0;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  line-height: 47px;
  cursor: pointer;
}

.brows__product-control-button-svg {
  -webkit-filter: invert(41%) sepia(74%) saturate(1195%) hue-rotate(320deg) brightness(104%) contrast(87%);
          filter: invert(41%) sepia(74%) saturate(1195%) hue-rotate(320deg) brightness(104%) contrast(87%);
  margin-right: 22px;
}

.btn:focus {
  box-shadow: none;
}
/*# sourceMappingURL=style.css.map */