body {
    font-family: Lato;
    @include font();
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

  .my-container {
    max-width: $cont-width;
    margin: 0 auto;
  }

