$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #f16d7f;
$brown: #474040;
$gray: #B1B1B1;
$light-gray: #F8F8F8;
$darker-pink: hsl(352, 68%, 62%);
$light-pink:#F8F3F4;
$lighter-gray: #EAEAEA;
$item-param_color: #575757;
$slider-brd: #E5E5E5;
$hline: #afafaf;
$gray-5: #5E5E5E;

$shop-cont-w: 1140px;
$tablet-max-sz: 768px;
$mobile-max-sz: 375px;
$clr-e8: #E8E8E8;