body {
    font-family: lato-normal;
    @include font();
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

  .shop-container {
    max-width: $shop-cont-w;
    margin: 0 auto;
    padding: 0 16px 0 16px;

    @include media-add ($mobile-max-sz){
      padding: 0 8px 0 8px;
    }
  }

  .mnu-offset{
    padding-top: $mnu-offset;  
  }

  button-shadow-drop-center:hover {
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

