@mixin font ($sz: 14px, $h: 17px, $w: 400, $bUpp: 0) {
    font-size: $sz;
    line-height: $h;
    font-weight: $w;
    @if $bUpp != 0 {
        text-transform: uppercase;
    }
}

@mixin media-add($size) {
    @media (max-width: $size){
        @content;
    }
}