.cart {
    &__tittle {
        background-color: $light-pink;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 96px;
        margin-bottom: 128px;
        @include media-add($tablet-max-sz) {
            flex-direction: column;
            margin-top: 59px;
          }
        @include media-add($mobile-max-sz) {
            margin-top: 39px;
            margin-bottom: 96px;
        }
    }

    &__list-wrapper {
        display: flex;
        min-width: 552px;
        min-height: 200px;
        flex-direction: column;
        @include media-add($tablet-max-sz){
            margin-bottom: 104px;
          }
        
        @include media-add($mobile-max-sz){
            min-width: 300px;            
            margin-bottom: 48px;
        }
    }

    &__list {
        margin-bottom: 32px;
        @include media-add($tablet-max-sz){
            margin-bottom: 22px;
          }
        
        @include media-add($mobile-max-sz){
            margin-bottom: 0;
        }
    }

    &__form-wrapper {
        min-width: 360px;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        @include media-add($tablet-max-sz){
            flex-direction: row;
          }
        @include media-add($mobile-max-sz){
            flex-direction: column;
            margin-bottom: 48px;
        }
    }

    &__form {
        min-height: 200px;
        min-width: 300px;
        @include media-add($tablet-max-sz){
            margin-right: 10px;
            flex-grow: 1;   
          }

        @include media-add($mobile-max-sz){
        margin-right: 0;
        }
    }

    &__proceed-wrapper {
        display: flex;      
        min-width: 300px;
        height: 214px;        
        flex-direction: column;
        background-color: $light-pink;
        margin-top: 38px;  
        padding: 39px 42px 42px 42px;
        text-align: right;
    }
    
    &__item {
        display: flex;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        margin-bottom: 40px;
        @include media-add($mobile-max-sz){
            width: 358px;  
            margin-bottom: 30px;         
          }
    }
    
    &__item-image {
        @include media-add($mobile-max-sz){           
            height: 188px;
          }
    }
    &__item-description {
        width: 100%;
        padding: 22px 24px 0 31px;
        @include media-add($mobile-max-sz){           
            padding: 13px 17px 0 17px;
          } 
    }

    &__item-button-close {
        float: right;
    }

    &__item-button-close:hover {
        cursor: pointer;
        transform: translate(1px, 1px);
      }

    &__item-tittle {
        @include font(24px, 29px, 400, 1);
        color: $dark-blue; 
        @include media-add($mobile-max-sz){           
            @include font(16px, 19px, 400, 1);
          } 
    }

    &__item-price {
        margin-top: 32px; 
        @include font(22px, 26px);
        color: $item-param_color; 
        @include media-add($mobile-max-sz){ 
            margin-top: 25px;           
            @include font(14px, 17px, 400);
          }         
    }

    &__item-price_color_pink {
        color: $dark-pink;
    }

    &__item-param {
        @include font(22px, 32px); 
        color: $item-param_color; 
        @include media-add($mobile-max-sz){           
            @include font(14px, 17px, 400);
          }  
    }

    &__item-quantity {
        @include font(18px, 22px);
        color: $item-param_color;
        width: 43px;
        margin-left: 24px;
        text-align: center;
        border: 1px solid $lighter-gray;
        @include media-add($mobile-max-sz){           
            @include font(14px, 17px, 400);
          } 
    }

    &__control-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        border: 1px solid $gray;
        color: black;
        background-color: white;
        font-family: lato-normal;
        @include font(14px, 17px, 300, 1);
        text-decoration: none;
        text-align: center;
        display: block;
        cursor: pointer;
        @include media-add($mobile-max-sz){
            @include font(12px, 14px, 400); 
            text-transform: none;    
          }
    }

    &__button:hover {
        background-color: #e05c6e;
        color: white;
    }    

    &__button-clear {
        width: 234px;
        line-height: 49px;
        @include media-add($mobile-max-sz){
            width: 175px; 
            line-height: 32px;          
          }
    }
    &__button-continue {
        width: 234px;
        line-height: 49px;  
        @include media-add($mobile-max-sz){
            width: 175px; 
            line-height: 32px;           
          }    
    } 

    &__form-tittle {
        @include font(16px, 19px, 300, 1);
        color: $dark-blue;
    }  

    &__form-input {
        display: block;   
        box-sizing: border-box;     
        width: 100%;
        height: 45px;
        margin-top: 20px;
        padding-left: 17px;
        border: 1px solid $gray;
    }

    &__form-input::placeholder {  
        color: $dark-blue;
        @include font(13px, 46px, 300);
        font-family: lato-normal;
        
      }

    &__form-button {
        width: 100px;
        height: 34px; 
        @include font(11px, 12px, 300, 1); 
        margin-top: 24px;
        color: #4A4A4A; 
    }
    
    &__proceed-sub {
        @include font(11px, 13px, 400, 1);
        color: $dark-blue;
    }
    &__proceed-cashSub {
        color: $dark-blue;
        margin-left: 20px;
    }
    &__proceed-total {
        @include font(16px, 19px, 300, 1);
        margin: 12px 0 21px 0;
        color: $dark-blue;
    }
    &__proceed-cashTotal {
        color: $dark-pink;
        margin-left: 20px;
    }
    &__proceed-hline {
        width: 100%;
        color: $lighter-gray;
        opacity: 0.2;
    }
    &__proceed-button {
        margin: 17px 0 0 0;
        height: 50px;
        background-color: $dark-pink;
        border: none;  
        @include font(16px, 19px, 300, 1);
        font-family: lato-normal;
        color: white;
        cursor: pointer;
    }

    &__proceed-button:hover {
        background-color: $darker-pink;
    }
    
}