.header {
    background-color: $dark-blue;
    position: fixed;
    width: 100%;
    z-index: 3;

    .ppmnu {
      min-width: 300px;
    }

      &__wrapper {
        display: flex;
        min-height: 75px;
        align-items: center;
        justify-content:space-between;        
      }

      &__controls {
        display: flex;
        align-items: center;
        margin: 0 16px 0 16px;
      }

      &__person-link {
        margin: 0 20px 0 20px;
        @include media-add ($mobile-max-sz){
          display: none;
        }
      }

      &__loupe-link {
        display: flex;
        align-items: center;
        fill: $clr-e8;
      }

      &__loupe-link:hover {
        fill: $dark-pink;
        
      }

      &__loupe-svg:hover {
        animation: slide-fwd-center 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      
  @keyframes slide-fwd-center {
    0% {
      transform: translateX(1);
    }
    100% {
      transform: scale(1.2);
    }
}

      &__loupe-link:focus-within > input {
        width: 200px;
        padding-left: 10px;
      }

      @keyframes find-grow {
        from{
          width: 0;
        }
        to{
          width: 200px;
          padding-left: 10px;
        }        
      }

      &__find {
        height: 2rem;
        margin-left: 16px;
        width: 0px;
        background-color: $light-pink;
        border-radius:6px;
        border: none;
        outline: none;
        padding: 0;
        transition: width 500ms, padding-left 500ms;        
      }
      
      &__button-menu {
        border: none;
        background-color: transparent;
        cursor: pointer;
        fill: $clr-e8;
        transition: fill 300ms;
      }
      
      &__button-menu:hover {
        fill: $dark-pink;
      }
      
      &__basket{
        width: 32px;
        height: 29px;
        background-image: url(../img/basket.svg);
        @include media-add ($mobile-max-sz){
          display: none;
        }
      }
      
      &__basket-count{        
        color: white;
        position: relative;
        left: 20px;
        top: -5px;
        min-width: 19px;
        display: inline-block;
        height: 19px;
        text-align: center;
        background-image: url(../img/basket-circle.png);
        
      }
  }
  
  