@font-face {
  font-family: 'lato-thin';
  src: url("../fonts/lato-thin.woff2") format("wooff2"), url("../fonts/lato-thin.woff") format("wooff"), url("../fonts/lato-thin.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lato-normal';
  src: url("../fonts/lato-regular.woff2") format("wooff2"), url("../fonts/lato-regular.woff") format("wooff"), url("../fonts/lato-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/lato-bold.woff2") format("wooff2"), url("../fonts/lato-bold.woff") format("wooff"), url("../fonts/lato-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato-black';
  src: url("../fonts/lato-black.woff2") format("wooff2"), url("../fonts/lato-black.woff") format("wooff"), url("../fonts/lato-black.ttf");
  font-weight: 900;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: lato-normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.shop-container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px 0 16px;
}

@media (max-width: 375px) {
  .shop-container {
    padding: 0 8px 0 8px;
  }
}

.mnu-offset {
  padding-top: 75px;
}

button-shadow-drop-center:hover {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.product-card {
  width: 360px;
  margin: 0 auto;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.product-card__image-wrapper {
  position: relative;
  background-color: black;
  line-height: 0;
}

.product-card__image-wrapper:hover > img {
  opacity: 0.5;
}

.product-card__image-wrapper:hover > .product-card__button {
  display: flex;
}

.product-card__tittle {
  margin: 0 0 13px 0;
  color: black;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card__description {
  padding: 26px 28px 20px 16px;
  background-color: #F8F8F8;
  cursor: pointer;
}

.product-card__price {
  margin: 18px 0 0 0;
  color: #f16d7f;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.product-card__button {
  position: absolute;
  justify-content: space-around;
  align-items: center;
  display: none;
  background: none;
  border: white 1px solid;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 138px;
  height: 44px;
  color: white;
  font-family: lato-normal;
  font-size: 14px;
  cursor: pointer;
}

.nav-tittle {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f16d7f;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .nav-tittle {
    flex-direction: column;
    justify-content: space-around;
  }
}

.nav-tittle__cookies-list li, .nav-tittle a {
  display: inline;
  text-decoration: none;
  color: #5E5E5E;
}

.nav-tittle__cookies-list li:last-child a {
  color: #f16d7f;
  font-weight: bold;
}

.nav-tittle__cookies-list :not(:last-child)::after {
  content: ' / ';
}

.nav-tittle__cookies-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #474040;
}

.nav-tittle__cookies-subtext {
  color: #f16d7f;
  font-weight: 700;
}

.page-ctrl {
  height: 43px;
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #B1B1B1;
}

.page-ctrl__btn {
  width: 32px;
  border: none;
  background: none;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.page-ctrl__btn_active {
  color: #f16d7f;
}

.page-ctrl__btn_gap::after {
  content: '...';
  margin-left: 25%;
}

.page-ctrl__btn-prev {
  background-image: url("./../img/arrow-v.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-ctrl__btn-next {
  background-image: url("./../img/arrow-v.svg");
  -webkit-transform: scale(-1, 1) rotate(90deg);
          transform: scale(-1, 1) rotate(90deg);
}

.page-ctrl__list {
  display: flex;
  justify-content: center;
}

.page-ctrl__item {
  width: 32px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.drop-dwn {
  position: relative;
  height: 32px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #B1B1B1;
  cursor: pointer;
}

.drop-dwn::after {
  content: "";
  background-image: url("./../img/arrow-v.svg");
  display: inline-block;
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.drop-dwn:focus > .ppmnu {
  display: block;
}

.ppmnu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0 16px 20px 34px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  right: 0;
  top: 75px;
  z-index: 2;
  text-align: left;
}

.ppmnu__btn-cls {
  float: right;
  margin-top: 16px;
}

.ppmnu__btn-cls:hover {
  cursor: pointer;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.ppmnu__ttl {
  margin: 37px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.ppmnu__ttl-lst {
  position: relative;
  padding: 24px 0 10px 0;
  text-transform: uppercase;
  color: #f16d7f;
}

.ppmnu__ttl-lst-anim_enable .ppmnu__ttl-lst:focus-within + ul {
  max-height: 500px;
  transition: max-height 1s;
}

.ppmnu__ttl-lst-anim_enable > ul {
  max-height: 0;
}

.ppmnu__ttl-lst::before {
  content: '';
  width: 5px;
  height: 37px;
  background-color: #f16d7f;
  bottom: 0;
  left: -10px;
  position: absolute;
}

.ppmnu__ttl-lst-mark_none .ppmnu__ttl-lst::before {
  display: none;
}

.ppmnu > ul {
  overflow: hidden;
}

.ppmnu > ul > li {
  margin: 10px 0 0 20px;
}

.ppmnu > ul > li > a {
  color: #474040;
  text-decoration: none;
}

.header {
  background-color: #222222;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header .ppmnu {
  min-width: 300px;
}

.header__wrapper {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

.header__controls {
  display: flex;
  align-items: center;
  margin: 0 16px 0 16px;
}

.header__person-link {
  margin: 0 20px 0 20px;
}

@media (max-width: 375px) {
  .header__person-link {
    display: none;
  }
}

.header__loupe-link {
  display: flex;
  align-items: center;
  fill: #E8E8E8;
}

.header__loupe-link:hover {
  fill: #f16d7f;
}

.header__loupe-svg:hover {
  -webkit-animation: slide-fwd-center 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-fwd-center 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateX(1);
            transform: translateX(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateX(1);
            transform: translateX(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.header__loupe-link:focus-within > input {
  width: 200px;
  padding-left: 10px;
}

@-webkit-keyframes find-grow {
  from {
    width: 0;
  }
  to {
    width: 200px;
    padding-left: 10px;
  }
}

@keyframes find-grow {
  from {
    width: 0;
  }
  to {
    width: 200px;
    padding-left: 10px;
  }
}

.header__find {
  height: 2rem;
  margin-left: 16px;
  width: 0px;
  background-color: #F8F3F4;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 0;
  transition: width 500ms, padding-left 500ms;
}

.header__button-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #E8E8E8;
  transition: fill 300ms;
}

.header__button-menu:hover {
  fill: #f16d7f;
}

.header__basket {
  width: 32px;
  height: 29px;
  background-image: url(../img/basket.svg);
}

@media (max-width: 375px) {
  .header__basket {
    display: none;
  }
}

.header__basket-count {
  color: white;
  position: relative;
  left: 20px;
  top: -5px;
  min-width: 19px;
  display: inline-block;
  height: 19px;
  text-align: center;
  background-image: url(../img/basket-circle.png);
}

.navigation {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0 34px 20px 34px;
  min-width: 232px;
  right: 0;
  top: 75px;
  z-index: 1;
}

.navigation__button-close {
  float: right;
  margin-top: 16px;
}

.navigation__button-close_disable .navigation__button-close {
  display: none;
}

.navigation__button-close:hover {
  cursor: pointer;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.navigation__tittle {
  margin: 37px 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__item-tittle {
  margin-top: 20px;
  text-transform: uppercase;
  color: #f16d7f;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.navigation__item a {
  color: #474040;
  text-decoration: none;
  margin-top: 11px;
}

.brand {
  display: flex;
  margin: 0 0 63px 0;
  background-color: #F1E4E6;
}

@media (max-width: 940px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 375px) {
  .brand {
    min-height: 363px;
  }
}

.brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .brand__image {
    display: none;
  }
}

.brand__tittle-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 90px;
}

.brand__tittle {
  position: relative;
  color: #222222;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .brand__tittle {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

@media (max-width: 375px) {
  .brand__tittle {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.brand__tittle::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 2.0em;
  background-color: #f16d7f;
  top: 0;
  left: -26px;
}

.brand__subtittle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .brand__subtittle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.brand__subtittle-color {
  color: #f16d7f;
}

.copyright {
  background-color: #222222;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 32px 0 32px;
}

@media (max-width: 375px) {
  .copyright__wrapper {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: space-around;
    min-height: 143px;
  }
}

.copyright__text {
  color: white;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.copyright__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__social-item {
  margin: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.copyright__social-item:hover {
  background-color: #f16d7f;
}

.offers {
  margin-bottom: 96px;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .offers__list {
    flex-direction: column;
  }
}

.offers__item {
  color: white;
  width: 32%;
  min-height: 260px;
  background-color: #474040;
  background-size: cover;
  background-position: center;
  margin: 0 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .offers__item {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .offers__item {
    width: auto;
    min-height: 247px;
    margin-top: 32px;
  }
}

.offers__item-subtittle {
  color: #f16d7f;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.offers__item_women {
  background-image: url(./../img/women.jpg);
}

.offers__item_men {
  background-image: url(./../img/men.jpg);
}

.offers__item_kids {
  background-image: url(./../img/kids.jpg);
}

.offers__item_accesories {
  background-image: url(./../img/accesories.jpg);
  width: 100%;
  min-height: 180px;
}

@media (max-width: 940px) {
  .offers__item_accesories {
    min-height: 116px;
  }
}

.product {
  margin-bottom: 95px;
}

.product__tittle-wrapper {
  text-align: center;
  margin-bottom: 48px;
}

.product__tittle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.product__subtittle {
  color: #9F9F9F;
}

.product__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product__list .product-card {
  margin-bottom: 30px;
}

.product__button-browse {
  width: 210px;
  height: 47px;
  margin: 18px auto 0;
  border: #f16d7f 1px solid;
  color: #f16d7f;
  font-size: 16px;
  line-height: 47px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  display: block;
}

.product__button-browse:hover {
  background-color: #e05c6e;
  color: white;
}

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative;
}

.error-block {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 1;
}

.close-btn {
  font-size: 1.5em;
  top: 0;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
}

.reg__content {
  display: flex;
}

@media (max-width: 375px) {
  .reg__content {
    flex-direction: column;
  }
}

.reg__tittle {
  background-color: #F8F3F4;
  margin: 0 0 64px 0;
}

.reg__form {
  margin: 0 128px 0 0;
}

@media (max-width: 940px) {
  .reg__form {
    margin-right: 22px;
  }
}

.reg__form-tittle {
  color: #222222;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}

.reg__form-input {
  display: block;
  box-sizing: border-box;
  width: 360px;
  height: 46px;
  margin-top: 20px;
  padding-left: 17px;
  font-family: lato-normal;
  transition: -webkit-transform 0.725s ease;
  transition: transform 0.725s ease;
  transition: transform 0.725s ease, -webkit-transform 0.725s ease;
}

.reg__form-input:focus {
  -webkit-transform: skew(-15deg) translate(10px);
          transform: skew(-15deg) translate(10px);
}

.reg__form-input::-webkit-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.reg__form-input:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.reg__form-input::-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.reg__form-input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.reg__form-gender {
  display: inline-block;
  margin: 32px 17px 32px 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
}

.reg__form-tips {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  margin: 15px 0 0 0;
  color: #B1B1B1;
}

.reg__form-button {
  margin: 40px 0 96px 0;
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: lato-normal;
  color: white;
  cursor: pointer;
}

@media (max-width: 375px) {
  .reg__form-button {
    margin-bottom: 40px;
  }
}

.reg__form-button:hover {
  background-color: #e05c6e;
}

.reg__offers {
  margin-bottom: 100px;
  font-family: lato-thin;
}

.reg__offers-tittle {
  color: black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .reg__offers-tittle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.reg__offers-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: black;
  margin: 22px 0 22px 0;
}

@media (max-width: 940px) {
  .reg__offers-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.reg__offers-item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: black;
  margin: 0 0 16px 43px;
  position: relative;
}

@media (max-width: 940px) {
  .reg__offers-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.reg__offers-item::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -43px;
  width: 20px;
  height: 16px;
  background-image: url(./../img/check-mark.png);
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(./../img/photo-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

@media (max-width: 940px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
    min-height: 690px;
    background-position-x: -380px;
  }
}

@media (max-width: 375px) {
  .subscribe {
    min-height: 550px;
  }
}

.subscribe__slogan {
  text-align: center;
  max-width: 360px;
}

.subscribe__form {
  text-align: center;
  max-width: 360px;
}

.subscribe__slogan-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 30px;
}

.subscribe__slogan-subtext {
  font-style: italic;
}

.subscribe__form-tittle {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 375px) {
  .subscribe__form-tittle {
    font-weight: 400;
  }
}

.subscribe__form-subtittle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}

@media (max-width: 375px) {
  .subscribe__form-subtittle {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.subscribe__form-input {
  border: none;
  outline: none;
  background-color: #E1E1E1;
  color: #222222;
  height: 50px;
  min-width: 234px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0 0 22px;
  font-family: lato-normal;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
}

.subscribe__form-button {
  min-width: 100px;
  height: 50px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -4px;
  padding: 0;
  border: none;
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  font-family: lato-normal;
}

.subscribe__form-button:hover {
  background-color: #e05c6e;
}

.advantages {
  background-color: #222222;
  padding: 55px 0 104px 0;
}

@media (max-width: 940px) {
  .advantages {
    padding: 0 0 64px 0;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 940px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  display: block;
  text-align: center;
  width: 360px;
  margin: 48px 0 0 0;
}

.advantages__tittle {
  color: #F8F8F8;
  margin: 28px 0 16px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.advantages__text {
  color: #F8F8F8;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.cart__tittle {
  background-color: #F8F3F4;
}

.cart__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 940px) {
  .cart__content {
    flex-direction: column;
    margin-top: 59px;
  }
}

@media (max-width: 375px) {
  .cart__content {
    margin-top: 39px;
    margin-bottom: 96px;
  }
}

.cart__list-wrapper {
  display: flex;
  min-width: 552px;
  min-height: 200px;
  flex-direction: column;
}

@media (max-width: 940px) {
  .cart__list-wrapper {
    margin-bottom: 104px;
  }
}

@media (max-width: 375px) {
  .cart__list-wrapper {
    min-width: 300px;
    margin-bottom: 48px;
  }
}

.cart__list {
  margin-bottom: 32px;
}

@media (max-width: 940px) {
  .cart__list {
    margin-bottom: 22px;
  }
}

@media (max-width: 375px) {
  .cart__list {
    margin-bottom: 0;
  }
}

.cart__form-wrapper {
  min-width: 360px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 940px) {
  .cart__form-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  .cart__form-wrapper {
    flex-direction: column;
    margin-bottom: 48px;
  }
}

.cart__form {
  min-height: 200px;
  min-width: 300px;
}

@media (max-width: 940px) {
  .cart__form {
    margin-right: 10px;
    flex-grow: 1;
  }
}

@media (max-width: 375px) {
  .cart__form {
    margin-right: 0;
  }
}

.cart__proceed-wrapper {
  display: flex;
  min-width: 300px;
  height: 214px;
  flex-direction: column;
  background-color: #F8F3F4;
  margin-top: 38px;
  padding: 39px 42px 42px 42px;
  text-align: right;
}

.cart__item {
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  .cart__item {
    width: 358px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .cart__item-image {
    height: 188px;
  }
}

.cart__item-description {
  width: 100%;
  padding: 22px 24px 0 31px;
}

@media (max-width: 375px) {
  .cart__item-description {
    padding: 13px 17px 0 17px;
  }
}

.cart__item-button-close {
  float: right;
}

.cart__item-button-close:hover {
  cursor: pointer;
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.cart__item-tittle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@media (max-width: 375px) {
  .cart__item-tittle {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.cart__item-price {
  margin-top: 32px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #575757;
}

@media (max-width: 375px) {
  .cart__item-price {
    margin-top: 25px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__item-price_color_pink {
  color: #f16d7f;
}

.cart__item-param {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #575757;
}

@media (max-width: 375px) {
  .cart__item-param {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__item-quantity {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #575757;
  width: 43px;
  margin-left: 24px;
  text-align: center;
  border: 1px solid #EAEAEA;
}

@media (max-width: 375px) {
  .cart__item-quantity {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
  }
}

.cart__control-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart__button {
  border: 1px solid #B1B1B1;
  color: black;
  background-color: white;
  font-family: lato-normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
}

@media (max-width: 375px) {
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: none;
  }
}

.cart__button:hover {
  background-color: #e05c6e;
  color: white;
}

.cart__button-clear {
  width: 234px;
  line-height: 49px;
}

@media (max-width: 375px) {
  .cart__button-clear {
    width: 175px;
    line-height: 32px;
  }
}

.cart__button-continue {
  width: 234px;
  line-height: 49px;
}

@media (max-width: 375px) {
  .cart__button-continue {
    width: 175px;
    line-height: 32px;
  }
}

.cart__form-tittle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}

.cart__form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  padding-left: 17px;
  border: 1px solid #B1B1B1;
}

.cart__form-input::-webkit-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.cart__form-input:-ms-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.cart__form-input::-ms-input-placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.cart__form-input::placeholder {
  color: #222222;
  font-size: 13px;
  line-height: 46px;
  font-weight: 300;
  font-family: lato-normal;
}

.cart__form-button {
  width: 100px;
  height: 34px;
  font-size: 11px;
  line-height: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 24px;
  color: #4A4A4A;
}

.cart__proceed-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.cart__proceed-cashSub {
  color: #222222;
  margin-left: 20px;
}

.cart__proceed-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 12px 0 21px 0;
  color: #222222;
}

.cart__proceed-cashTotal {
  color: #f16d7f;
  margin-left: 20px;
}

.cart__proceed-hline {
  width: 100%;
  color: #EAEAEA;
  opacity: 0.2;
}

.cart__proceed-button {
  margin: 17px 0 0 0;
  height: 50px;
  background-color: #f16d7f;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: lato-normal;
  color: white;
  cursor: pointer;
}

.cart__proceed-button:hover {
  background-color: #e05c6e;
}

.brows__tittle {
  background-color: #F8F3F4;
}

.brows__cookies-list li, .brows a {
  display: inline;
  text-decoration: none;
  color: #5E5E5E;
}

.brows__cookies-list li:last-child a {
  color: #f16d7f;
  font-weight: bold;
}

.brows__cookies-list :not(:last-child)::after {
  content: ' / ';
}

.brows__cookies-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #474040;
}

.brows__cookies-subtext {
  color: #f16d7f;
  font-weight: 700;
}

.brows__slider {
  border: 1px solid #E5E5E5;
  padding: 11px 0 42px 0;
  background-color: #F7F7F7;
}

.brows__slider-arrow {
  color: black;
  font-size: 47px;
}

.brows__slider-image-wrapper {
  max-width: 597px;
}

.brows__slider-image {
  width: 100%;
}

.brows__product-panel {
  margin: -65px auto 130px auto;
  border: 1px solid #E5E5E5;
  background-color: white;
  z-index: 1;
  position: relative;
}

.brows__product-info-tittle {
  color: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 64px;
}

.brows__product-info-tittle::after {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #f16d7f;
  display: block;
  margin: 12px auto 0 auto;
}

.brows__product-info-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 27px;
}

.brows__product-info-description {
  max-width: 555px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  margin-top: 48px;
  text-align: center;
  color: #5E5E5E;
}

.brows__product-info-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 32px;
  color: #f16d7f;
}

.brows__product-info-hline {
  width: 57%;
  background-color: #afafaf;
  margin-top: 65px;
}

.brows__product-control {
  margin-top: 65px;
}

.brows__product-control-menu {
  position: relative;
}

.brows__product-control-menu-button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: #575757;
}

.brows__product-control-menu-button::after {
  content: "";
  background-image: url(../../img/drop-dwn.png);
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  width: 10px;
  height: 5px;
}

.brows__product-control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: #f16d7f 1px solid;
  width: 211px;
  margin: 49px 0 65px 0;
  color: #f16d7f;
  font-family: lato-normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  line-height: 47px;
  cursor: pointer;
}

.brows__product-control-button-svg {
  -webkit-filter: invert(41%) sepia(74%) saturate(1195%) hue-rotate(320deg) brightness(104%) contrast(87%);
          filter: invert(41%) sepia(74%) saturate(1195%) hue-rotate(320deg) brightness(104%) contrast(87%);
  margin-right: 22px;
}

.btn:focus {
  box-shadow: none;
}

@media (max-width: 375px) {
  .catalog .drop-dwn::after {
    margin-left: 0;
  }
  .catalog .drop-dwn {
    padding-right: 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.catalog .ppmnu__ttl-lst {
  border-bottom: 1px solid #E8E8E8;
}

.catalog__btn-mnu-ftr {
  position: relative;
  border: none;
  background: none;
  font-family: lato-bold;
  cursor: pointer;
}

.catalog__btn-mnu-ftr .ppmnu {
  top: 2rem;
  left: 0;
  width: 360px;
  font-family: lato-normal;
  box-shadow: 7px 7px 24px 7px rgba(0, 0, 0, 0.13);
}

@media (max-width: 375px) {
  .catalog__btn-mnu-ftr {
    width: 32px;
    height: 32px;
  }
}

.catalog__btn-mnu-ftr:focus-within > .ppmnu {
  display: block;
}

.catalog__ddwn-btn .ppmnu * {
  color: #5E5E5E;
}

.catalog__ddwn-btn .ppmnu {
  top: 2rem;
  left: 0;
  padding: 16px;
  text-transform: initial;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalog__ddwn-btn .ppmnu > ul > li {
  margin: 11px 0 0 0;
}

.catalog__ddwn-size .ppmnu {
  text-transform: uppercase;
}

.catalog__ddwn-size:focus-within .ppmnu {
  display: block;
}

.catalog__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  grid-gap: 30px;
  justify-content: center;
}

.catalog__wrp-sel-ctrl {
  display: flex;
  align-items: center;
  height: 132px;
}

.catalog__wrp-filter-menu {
  width: 33%;
}

.catalog__wrp-filter-dropdown {
  width: 66%;
}

.catalog__wrp-pages-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 188px;
}
/*# sourceMappingURL=style.css.map */