.advantages {
    background-color:$dark-blue;
    padding: 55px 0 104px 0;
    @include media-add($tablet-max-sz) {
      padding: 0 0 64px 0;
    }
  
  &__list {
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-around; 

    @include media-add($tablet-max-sz) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__item {
    display: block;
    text-align: center;
    width: 360px;
    margin: 48px 0 0 0;
  }
  
  &__tittle {
    color: $light-gray ;
    margin: 28px 0 16px 0;
    @include font(20px, 24px);
  }
  
  &__text {
    color: $light-gray;
    text-align: center; 
    @include font(14px, 17px, 300);
  }
}