.copyright {    

  background-color: $dark-blue;

    &__wrapper {
      display: flex;
      justify-content:space-between;
      align-items: center;
      min-height: 80px;
      
      @include media-add ($mobile-max-sz){
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: space-around;
        min-height: 143px;
      }
    }
  
  
  &__text {
    color: white;
    @include font(16px, 19px);
  }
  
  &__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__social-item {
    margin: 0 3px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  &__social-item:hover {  
    background-color: $dark-pink;
  }
}