.header {
    background-color: $dark-blue;

      &__wrapper {
        display: flex;
        min-height: 75px;
        align-items: center;
        justify-content:space-between;        
      }

      &__controls {
        @include media-add ($cont-width){
          margin-left: 16px;
          margin-right: 16px;
        }

        @include media-add ($mobile-max-sz){
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      
      &__button-menu {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
      
      &__button-menu:hover {
        opacity: 0.5;
      }
      
      &__logo {
        margin: 0 41px 0 0;
      }
      
      &__person-link {
        margin: 0 42px 0 25px;
        @include media-add ($mobile-max-sz){
          display: none;
        }
      }
      
      &__basket{
        position: relative;
        @include media-add ($mobile-max-sz){
          display: none;
        }
      }
      
      &__basket::after{
        content: '5';
        position: absolute;
        color: white;
        text-align: center;
        width: 19px;
        height: 19px;
        top: -20px;
        right: -8px;
        background-image: url(./../img/basket-circle.png);
      }
  }
  
  