.navigation {   
    display:none ;
    position: absolute;
    background-color: white;
    padding: 0 34px 0 34px;
    width: 232px;
    height: 764px;
    right: 0;
    top: 75px;
    z-index: 1;

    &__button-close {
    float: right;
    margin-top: 16px;
    }

    &__button-close:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    }

    &__tittle {
    margin: 37px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
    }

    &__item-tittle {
    margin-top: 20px;
    text-transform: uppercase;
    color: $dark-pink;
    }

    &__item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    }

    &__item a {
    color: $brown;
    text-decoration: none;
    margin-top: 11px;
    }
}