.offers{
  margin-bottom: 96px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-add ($mobile-max-sz){
          flex-direction: column;
        }        
      }
      
      &__item {
        color:white;
        width: 32%;
        min-height: 260px;
        background-color: $brown;
        background-size:cover;
        background-position:center;
        margin: 0 0 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;       
        @include font(16px, 19px, 400, 1);
        @include media-add($tablet-max-sz) {
          min-height: 168px;
        }

        @include media-add ($mobile-max-sz){
          width: auto;
          min-height: 247px;          
          margin-top: 32px;
        }
      }
      
      &__item-subtittle {
        color: $dark-pink;
        @include font(24px, 29px, 700, 1);
      }
      
      &__item_women {
        background-image: url(./../img/women.jpg);
      }
      
      &__item_men {
        background-image: url(./../img/men.jpg);
      }
      
      &__item_kids {
        background-image: url(./../img/kids.jpg);
      }
      
      &__item_accesories {
        background-image: url(./../img/accesories.jpg);
        width: 100%;
        min-height: 180px;
        @include media-add($tablet-max-sz) {
          min-height: 116px;
        }
      }
}

