.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./../img/photo-subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;

    @include media-add($tablet-max-sz) {
      flex-direction: column;
      align-items: center;
      min-height: 690px;   
      background-position-x: -380px;
    }  

    @include media-add($mobile-max-sz) {
      min-height: 550px; 
    }  
  
  &__slogan {
    text-align: center;
    max-width: 360px;
  }
  
  &__form {
    text-align: center;
    max-width: 360px;

    @include media-add($mobile-max-sz) { 
    } 
  }
  
  &__slogan-text {
    @include font(20px, 24px);
    margin-top: 30px;
  }
  &__slogan-subtext {
    font-style: italic;
  }
  
  &__form-tittle {
    @include font(24px, 40px, 700, 1);
    color: $dark-blue;
    @include media-add($mobile-max-sz) {
     font-weight: 400;
    }
  }
  
  &__form-subtittle {
    @include font(18px, 30px, 400, 1);
    color: $dark-blue;
    margin-bottom: 30px;
    @include media-add($mobile-max-sz) {
      @include font(14px, 17px, 400, 1);
     }
  }
  
  &__form-input {
    border: none;
    outline: none;
    background-color: #E1E1E1;
    color: $dark-blue;
    height: 50px;
    min-width: 234px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 0 0 22px;
    font-family: lato-normal;
    @include font(14px, 50px);
  }

  &__form-button {    
    min-width: 100px;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -4px;
    padding: 0;

    border: none;
    background-color: $dark-pink;
    color: white;
    cursor: pointer;
    @include font(14px, 50px);
    font-family: lato-normal;
  }
  
  &__form-button:hover {
    background-color: $darker-pink;
  }
}